table {
    width: 400px;
    background-color: #fc9a00;
    border: 1px solid;
    border-color: #000000;
    padding: 10px;
    margin: auto;
}

input[type=Submit] {
    border-radius: 10%;
    cursor: pointer;
}

input[type=checkbox] {
    cursor: pointer;
}