/** @format */

/* ************GENERAL************ */
body {
  background-color: rgb(227, 227, 227);
  font-family: "Roboto", sans-serif;
}

ul,
li,
a,
button {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: black;
  cursor: pointer;
  list-style: none;
}

a {
  text-decoration: none;
}

/* ************STYLING************ */
/* header-container */
.header {
  display: flex;
  justify-content: space-between;
  background-color: white;
  padding: 10px 20px;
}

/* logo */
.nav-logo {
  margin-top: 5px;
}

/* icon */
.nav-icon {
  display: flex;
  margin-left: 25px;
  gap: 12px;
}

/* home, shop, category,.... */
.nav-link {
  display: flex;
  gap: 30px;
  margin-top: 5px;
}

/* ************POP-UP SUB-NAV************ */
.primary-nav {
  /* width: fit-content;
  height: fit-content; */
  /* overflow: hidden; */
  /* transition: width 0.3s; */
  position: relative;
}

.primary-nav a {
  width: 100%;
  display: flex;
  justify-content: center;
}

/* hide sub-nav when not hovered */
/* sub-nav have height=0 when not hovered */
.sub-nav {
  position: absolute;
  opacity: 0;
  pointer-events: none;
  top: 100%;
  right: -45px;
  background-color: white;
  padding: 20px 10px 10px 10px;
  transition: all 0.3s;
  white-space: nowrap;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

/* sub-nav have width=130px when being hovered */
.primary-nav:hover .sub-nav {
  opacity: 1;
  pointer-events: all;
}

/* show nav's underline when being hover*/
.hover-underline a {
  position: relative;
}

.hover-underline a::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: -2px;
  left: 0;
  background-color: #fd8923;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/* **********NAV ICON********* */
.nav-icon--item a {
  transition: all 0.3s;
}

.nav-icon--item a:hover {
  color: #fd8923;
}
