table {
    background-color: #fc9a00;
    border: 1px solid #000000;
    padding: 5px;
    margin-bottom: 20px;
}

tr {
    padding-right: 10px;
}

button {
    cursor: pointer;
    border-radius: 10px;
}

button:hover {
    opacity: 0.9;
}