ul{
    margin-bottom: 0 !important;
}

.container-heading{
    display: flex;
    justify-content: space-between;
}


/* breadcrumb: start */
.breadcrumb-box{
    padding-top: 30px;
}

.blog-heading{
    /* margin-top: 30px; */
    /* padding-top: 30px; */
    margin-left: 60px;
}

.blog-title h4{
    /* text-align: center; */
    font-size: 32px;
    margin: 10px;
}

.blog-list-link ul {
    padding-left: 0;
  }
  
  .blog-list-link li {
    display: inline;
    font-size: 18px;
  }
  
  .blog-list-link li + li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
  }
/* breadcrumb: end */


/* blog img */
.blog-img{
    width: 55%;
    overflow: hidden;
}

.blog-img img{
    width: 100%;
}