.blog-detail {
    
    width: 500px;
    height: 600px;
    border: 2px solid;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 35%;
    border-radius: 20px;
    border-color: var(--orange);
}

.blog-img img {
    width: 250px;
    height: 250px;
  }