/** @format */

/* bang dien thong tin */
form {
  border: solid 1px black;
  width: fit-content;
  padding: 5px;
}

table {
  background-color: orange;
}

input[type="submit"] {
  background-color: white;
  border: solid 1px black;
  padding: 3px 8px;
  border-radius: 100px;
  cursor: pointer;
}

/* bang hien thong tin */
.thong-tin {
  border-collapse: collapse;
  margin-top: 30px;
}

.thong-tin,
.thong-tin tr,
.thong-tin td {
  background-color: white;
  border: solid 1px black;
}

.thong-tin td {
  padding: 3px 10px;
}
