:root {
    --line-border-color: 1px solid #b1b1b1;
    --breadscrumb-text-color: #8f8f8fa4;
    --breadscumb-text-active: #E96D00;
}
/*Style left-navigation --start*/
.navigation-account {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 215px;
    height: auto;
    padding: 30px;
    border-right: var(--line-border-color);
}

.navigation-account li {
    font-size: 18px;
    line-height: 30px; 
}

.navigation-account li a:hover:not(a.active) {
    font-weight: bolder;
}

.navigation-account li a.active {
    font-weight: bolder;
}

#title-TaiKhoan {
    font-size: 24px;
    font-weight:600;
    margin-bottom: 30px;
}
/*Style left-navigation --end*/

/*Style main section --start*/
.section {
    display:flex;
    border-bottom: var(--line-border-color);
}

/*breadcrumb*/
.breadcrumb-my-order {
    font-size: 20px;
    font-style: italic;
    color: var(--breadscrumb-text-color);
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.breadcrumb-my-order li a{
    color: var(--breadscrumb-text-color);
}
.breadcrumb-my-order li a:hover {
    color: var(--breadscumb-text-active);
}
.breadcrumb-current-page {
    color: var(--breadscumb-text-active);
}

.list-orders {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 0px;
    height: 100vh;
    padding-left: 80px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.table-list-orders {
    margin-top: 90px;
    margin-bottom: 30px;
    width: 1100px;
}

#pagination-my-orders{
    position: absolute;
    bottom: 30px;
    left: 750px;
}
/*Style main section --end*/
