:root {
    --line-border-color: 1px solid #b1b1b1;
}
/*Style left-navigation --start*/
.navigation-account {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 215px;
    height: auto;
    padding: 30px;
    border-right: var(--line-border-color);
}

.navigation-account li {
    font-size: 18px;
    line-height: 30px; 
}

.navigation-account li a:hover:not(a.active) {
    font-weight: bolder;
}

.navigation-account li a.active {
    font-weight: bolder;
}

#title-TaiKhoan {
    font-size: 24px;
    font-weight:600;
    margin-bottom: 30px;
}
/*Style left-navigation --end*/

/*Style main section --start*/
.section {
    display:flex;
    margin-top: 15px;
    border-bottom: var(--line-border-color);
}

.list-orders {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 0px;
    width: 100vh;
    height: 100vh;
    padding-left: 80px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.search-bar {
    position: absolute;
    top: 80px;
    left: 875px;
}

.table-list-orders {
    margin-top: 90px;
    margin-bottom: 30px;
    width: 1100px;
}

#pagination-my-orders {
    position: absolute;
    bottom: 30px;
    left: 875px;
}
/*Style main section --end*/
