/* Refactoring code. Modified 10/13/2023 by Quyen */ 

.pagination {
    display: flex;
    justify-content: center;
}

.pagination a{
    padding: 5px 15px;
    border-radius: 20%;
  }
  
.pagination a.active {
    background-color: var(--orange);
    color: white;
  }
  
.pagination a:hover:not(.active) {background-color: #ddd;}

/* admin -> change color */
.pagination.admin a.active {
  background-color: var(--admin-primary);
}