body{
    display: flex;
    background-color: #F1F1F1;
}

.nav-container{
    min-width: 240px;
    
}
.section{
    flex-grow: 2;

    min-width: 400px;
    padding: 30px;
}


.section_functions{
    display: flex;
    justify-content: space-between;
   padding: 10px 0;
}

.functions-left{
    display: flex;
    align-items: center;
}

