.body, .html {
    margin: 0;
}

.btn {
    width: 25%;
    height: 30px;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
    box-shadow: 0 8px #ccc;
    cursor: pointer;
    display: grid;
    place-items: center;
}

.btn:hover {
    opacity: 0.3;
}

.btn + .btn {
    margin: 10px;
}