.pagination {
    display: flex;
    justify-content: center;
    color: black;
}

.pagination a{
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 20%;
  }
  
.pagination a.active {
    background-color: #e96d00;
    color: white;
  }
  
.pagination a:hover:not(.active) {background-color: #ddd;}
