table {
    background-color: #fe9f06;
    border: 1px solid black;
    padding: 10px;
    margin: auto;
    width: 400px;
}

input[type=Submit] {
    border-radius: 10px;
    cursor: pointer;
    
}

input[type=checkbox] {
    cursor: pointer;
}

.result {
    text-align: left;
    margin-left: 35%;
}
