/** @format */
/** @format */

/* khung chua */
.container {
  /* background-color: aliceblue; */
  width: 230px;
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 0 10px;
  border: solid 1px;
  color: rgb(27, 96, 169);
}

.row {
  padding: 10px;
}

p {
  margin: 0;
  margin-left: 25px;
}

/* tieu de */
.tieu-de {
  text-align: center;
}

/* thanh tim kiem */
.tim-kiem {
  display: flex;
  justify-content: center;
}

.tim-kiem input {
  border: solid 1px;
  border-right: none;
}

.tim-kiem label {
  border: solid 1px;
  padding: 3px;
  display: flex;
  background-color: white;
}

/* nen xam */
.quan-ly-chung,
.san-pham {
  background-color: #d7d7d7;
}

/* flex */
.flex {
  display: flex;
  align-items: center;
}

.spc-between {
  justify-content: space-between;
}
