.main-content-showcase {
    display: flex;
    flex-direction: column;
   
}

.main-content-showcase__one {
    display: flex;
    flex-direction: row;
    border-radius: 15px;
}

.main-content-showcase__one__lion {
    border-radius: 15px 0 0 15px;
    width: 560px;
    height: 400px;
}

.main-content-showcase__one__content {
    background-color: #240202;
    border-radius: 0 15px 15px 0;
    display: flex;
    flex-direction: column;
}

.main-content-showcase__two {
    flex: 3;
}

.group-para {
    margin-bottom: 130px;
}

#group-para__our {
    color: white;
    font-size: 35px;
    margin-left: 10px;
}

#group-para__newtour {
    color: #3bab2f;
    font-size: 40px;
    margin-left: 10px;
}

#group-para__content {
    color: white;
    font-size: 20px;
    margin-left: 10px;
}

#group-para__continue {
    color: #3bab2f;
    font-size: 20px;
    margin-left: 10px;
}

#group-para__continue span {
    color: blue;
    font-size: 20px;
}

.group-circle-number {
    display: flex;
    align-items: end;
    justify-content: left;
}

.circle-number {
    display: grid;
    place-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: gray;
    margin-left: 10px;
}

.circle-number--green {
    width: 50px;
    height: 50px;
    background-color: #3bab2f;
}

.circle-number i {
    font-size: 30px;
    color: white;
}

#showcase__two__loremipsum {
    font-size: 40px;
    font-weight: 600;
}

#showcase__two__loremipsum span {
    font-size: 40px;
    color: #3bab2f;
}

#shocase__two__content {
    font-size: 20px;
}

#showcase__two__content span {
    font-size: 20px;
    color: #3bab2f;
    text-decoration: underline;
}