/*general main section*/
body{
    display: flex;
    background-color: #F1F1F1;
    margin: 0;
}

.nav-container{
    min-width: 240px;
    
}
.admin-orders{
    flex-grow: 2;

    min-width: 400px;
    padding: 30px;
}

/*date*/
.date-orders {
    margin: 10px;
    margin-left: 0px;
}

/* .input-date-range input[type="text"] {
    border: 0.5px solid #dddd;
    border-radius: 6px;
    font-size: 15px;
    padding-left: 5px;
    padding-top: 3px;
    padding-left: 3px;
    width: 120px;
    height: 30px;
} */

/* .input-date-range input[type="button"] {
    border: 0.5px solid #000;
    background-color: #ffff;
    border-radius: 4px;
    width: 50px;
    height: 25px;
} */
/* .input-date-range input[type="button"]:hover {
    background-color: #dddd;
} */

.ui-datepicker {
    width: 350px !important;
}
.ui-datepicker-calendar{
    min-width: 100px !important;
}

/*dropdown status*/
#choose-status{
    margin: 10px;
    margin-left: 1000px;
    background-color: #e4e4e4;
    border-radius: 8px;
    width: 200px;
    padding: 5px 10px;
    text-align: center;
    cursor: pointer;
    transition: transform 0.5s ease-out;
    position: relative;
}
/*.list-status {
    display: none;
    position: absolute;
    left: 0;
    background-color: #e4e4e4;
    width: 200px;
}

.list-status li {
    padding-top: 5px;
    padding-bottom: 5px;
}
.list-status li:hover {
    background-color: #d8d8d8;
}

.choose-status:hover .list-status {
    display: block;
}*/


/*Search box*/
.search-bar {
    margin: 10px;
    width: 250px;
}

.search-bar input[type="text"] {
    border-radius: 4px;
    border: none;
    
}

.pagination {
    margin-top: 20px;
}

.btn-search {
    top: 7px !important;
}

.btn-delete {
    border: none;
    background: none;
}