:root{ --nav-admin-bg: #212F3C;}
:root{ --nav-admin-btn-bg: #54A0E8;}
.nav-admin {
    display: flex;
    flex-direction: column;
    position: fixed;
    align-items: center;
    margin: 0;
    width: 240px;
    height: 100vh;
    background-color: var(--nav-admin-bg); 
    font-family: sans-serif;
}

.nav-admin-logo {
    position: relative;
    color:#ffff;
    margin: 15px;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.nav-admin-logo img {
    width: 70px;
}

.nav-admin-menu {
    position: relative;
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
    width: 196px;
  }
  
  .nav-admin-menu li {
    margin-bottom: 10px;
  }
  
  .nav-admin-menu li a {
    display: block;
    padding: 15px;
    background-color: var(--nav-admin-bg); 
    border-radius: 8px;
    text-decoration: none;
    color: #ffff;
    cursor: pointer;
    transition: transform 0.3s ease;
  }
  
  .nav-admin-menu li a:hover {
    background-color: var(--nav-admin-btn-bg);
  }
  
  .nav-admin-account {
    position: relative;
  }

  .nav-admin-account #logout {
    display: block;
    padding: 10px;
    border-radius: 8px;
    text-decoration: none;
    text-align: center;
    color:#ffff;
    transition: transform 0.3 ease;
    width: 180px;
    margin-top: 15px;
  }

  .nav-admin-account #logout:hover {
    background-color: var(--nav-admin-btn-bg);
  }

  .nav-admin-account #account {
    display: flex;
    align-items: center;
    cursor: pointer;
    color:#fff;
    text-decoration: none;
  }

  .nav-admin-account #account img {
    width: 50px;
    margin-right: 10px;
  }