header {
    border: 2px solid #121212;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
}

footer hr {
    color: #088308;
}

nav {
    list-style: none;
    margin: 10px 0;
    cursor: pointer;
}

nav li:hover {
    opacity: 0.6;
}

li {
    display: inline;
    color: white;
    font-size: 30px;
    padding: 10px;
    background-image: linear-gradient(to top, #292929, #048904);
}

.content {
    width: 70%;
    padding: 15px;
}

.content--border {
    border: 2px solid #9F9FEA;
}

.content__box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.content__box--border {
    border: 2px solid #EF7A7A;
}

.para1, .para2, .para3 {
    font-size: 17px;
    text-align: center;
}

.para1 {
    font-weight: 600;
}

.para3 {
    align-self: flex-end;
}

aside {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid #EF7A7A;
    width: 30%;
    background-color: #66CCCC;
}

footer p {
    text-align: center;
}