/** @format */
/* than trang web */
body {
  background-color: #ffedca;
  text-align: center;
}

/* ten form */
h1 {
  margin: 10px 0;
}

/* hang cua form*/
table {
  margin: auto;
  width: 350px;
  border-collapse: collapse;
}

table,
tr,
td {
  border: solid 1px;
  text-align: left;
}

/* nhan cua form */
label {
  color: blue;
}

.gender-lbl {
  color: black;
}

/* nut dang ky */
button {
  display: block;
  margin: auto;
}
